<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-6">
      <div class="card text-white bg-info">
        <a routerLink="/servicos/solicitar/" class="btn btn-fix">
          <div class="card-body pb-0" align="center" style="height: 8rem;">
            <p></p>
            <p></p>
            <div>Comércios do bairro</div>
          </div>
        </a>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-6">
      <div class="card text-white bg-danger">
        <a routerLink="/servicos/solicitar/" class="btn btn-fix">
          <div class="card-body pb-0" align="center" style="height: 8rem;">
            <p></p>
            <p></p>
            <div>Segurança do bairro</div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <!--/.col-->
    <div class="col-sm-6 col-lg-6">
      <div class="card text-white bg-primary">
        <a routerLink="/servicos/solicitar/" class="btn btn-fix">
          <div class="card-body pb-0" align="center" style="height: 8rem;">
            <p></p>
            <p></p>
            <div>Empreendedorismo e Trabalho</div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-lg-6">
      <div class="card text-white bg-warning">
        <a routerLink="/servicos/solicitar/" class="btn btn-fix">
          <div class="card-body pb-0" align="center" style="height: 8rem;">
            <p></p>
            <p></p>
            <div>Vaquinha Online</div>
          </div>
        </a>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
  <div class="row">
    <div class="col-sm-6 col-lg-6">
      <div class="card text-white bg-danger">
        <a routerLink="/servicos/solicitar/" class="btn btn-fix">
          <div class="card-body pb-0" align="center" style="height: 8rem;">
            <p></p>
            <p></p>
            <div>Saúde no Bairro</div>
          </div>
        </a>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-6">
      <div class="card text-white bg-info">
        <a routerLink="/servicos/solicitar/" class="btn btn-fix">
          <div class="card-body pb-0" align="center" style="height: 8rem;">
            <p></p>
            <p></p>
            <div>Maternidade</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>