<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Meus serviços
      <div class="card-header-actions">
        <button type="button" class="btn btn-block btn-info" routerLink="/servicos/cadastro/">Oferecer um
          serviço</button>

      </div>

    </div>
    <div class="card-body ">
      <table class="table table-sm table-responsive w-100 d-block d-md-table">
        <thead>
          <tr>
            <th>Descrição</th>
            <th>Avaliação</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Ir ao mercado ou fármacia</td>
            <td>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </td>
            <td>
              <a routerLink="/servicos/detalhes/">
                <i class="fa fa-eye fa-lg mt-4"></i>
              </a>
            </td>
            <td>
              <a routerLink="/servicos/detalhes/">
                <i class="fa fa-trash fa-lg mt-4"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">Próximo</a></li>
      </ul>
    </div>
  </div>
</div>