<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-6">
      <div class="card text-white bg-info">
        <a routerLink="/servicos/solicitar/" class="btn btn-fix">
          <div class="card-body pb-0" align="center" style="height: 8rem;">
            <p></p>
            <p></p>
            <div>Pedir Objeto Emprestado</div>
          </div>
        </a>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-6">
      <div class="card text-white bg-danger">
        <a routerLink="/servicos/solicitar/" class="btn btn-fix">
          <div class="card-body pb-0" align="center" style="height: 8rem;">
            <p></p>
            <p></p>
            <div>Fazer compras</div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <!--/.col-->
    <div class="col-sm-6 col-lg-6">
      <div class="card text-white bg-primary">
        <a routerLink="/servicos/solicitar/" class="btn btn-fix">
          <div class="card-body pb-0" align="center" style="height: 8rem;">
            <p></p>
            <p></p>
            <div>Troca de conhecimento </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-lg-6">
      <div class="card text-white bg-warning">
        <a routerLink="/servicos/solicitar/" class="btn btn-fix">
          <div class="card-body pb-0" align="center" style="height: 8rem;">
            <p></p>
            <p></p>
            <div>Doações de Produtos</div>
          </div>
        </a>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
  <div class="row">
    <div class="col-sm-6 col-lg-6">
      <div class="card text-white bg-danger">
        <a routerLink="/servicos/solicitar/" class="btn btn-fix">
          <div class="card-body pb-0" align="center" style="height: 8rem;">
            <p></p>
            <p></p>
            <div>Compras em Grupo</div>
          </div>
        </a>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-6">
      <div class="card text-white bg-info">
        <a routerLink="/servicos/solicitar/" class="btn btn-fix">
          <div class="card-body pb-0" align="center" style="height: 8rem;">
            <p></p>
            <p></p>
            <div>Conversar com alguém</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>