<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Serviços que eu pedi
    </div>
    <div class="card-body ">
      <table class="table table-sm table-responsive w-100 d-block d-md-table">
        <thead>
          <tr>
            <th>Descrição</th>
            <th>Data</th>
            <th>Avaliação</th>
            <th>Fornecedor</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Psicóloga conversa</td>
            <td>20/04/2020</td>
            <td>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </td> 
            <td>                    
              <img src="assets/img/avatars/2.jpg" class="img-avatar" >
              <span class="badge badge-success">Maria Feliciana</span>
            </td> 
            <td>
              <button type="button" class="btn btn-block btn-info" routerLink="/servicos/solicitado/">Avaliar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">Próximo</a></li>
      </ul>
    </div>
  </div>
</div>