<div class="animated fadeIn">
   <div class="card">
     <div class="card-header">
       <i class="fa fa-align-justify"></i> Serviços aqui perto
     </div>
     <div class="card-body">
       <table class="table">
         <thead>
           <tr>
             <th>Descrição</th>
             <th>Distância</th>
             <th>Preço</th>
             <th>Usuário</th>
             <th></th>
             <th></th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <td>Manicure/Pedicure</td>
             <td>0,6 km</td>
             <td>R$ 15,00 a R$40,00</td>
             <td>                    
               <img src="assets/img/avatars/3.jpg" class="img-avatar" >
               <span class="badge badge-success">Carla Gonçalvez</span>
               <i class="icon-star"></i>
               <i class="icon-star"></i>
               <i class="icon-star"></i>
               <i class="icon-star"></i>
               <i class="icon-star"></i>
             </td>              
              <td >
                <a  routerLink="/servicos/detalhes/">
                  <i class="fa fa-eye fa-lg mt-4"></i>
                </a>
              </td>            
             <td>
                <button type="button" class="btn btn-block btn-info" routerLink="/servicos/cadastro/">Solicitar</button>
              </td>
           </tr>
           <tr>
               <td>Encandor/Serviços gerais</td>
               <td>1,2 km</td>
               <td>R$ 45,00 a R$60,00</td>
               <td>                    
                 <img src="assets/img/avatars/7.jpg" class="img-avatar" >
                 <span class="badge badge-success">Flavio Almeida</span>
                 <i class="icon-star"></i>
                 <i class="icon-star"></i>
                 <i class="icon-star"></i>
                 <i class="icon-star"></i>
                 <i class="icon-star"></i>
               </td>          
               <td >
                  <a  routerLink="/servicos/detalhes/">
                    <i class="fa fa-eye fa-lg mt-4"></i>
                  </a>
               </td>        
               <td>
                  <button type="button" class="btn btn-block btn-info" routerLink="/servicos/cadastro/">Solicitar</button>
                </td>
             </tr>             
           <tr>
               <td>Pães e Bolos</td>
               <td>0,2 km</td>
               <td>R$ 15,00 a R$40,00</td>
               <td>                    
                 <img src="assets/img/avatars/2.jpg" class="img-avatar" >
                 <span class="badge badge-success">Maria Feliciana</span>
                 <i class="icon-star"></i>
                 <i class="icon-star"></i>
                 <i class="icon-star"></i>
                 <i class="icon-star"></i>
                 <i class="icon-star"></i>
               </td>           
               <td >
                  <a  routerLink="/servicos/detalhes/">
                    <i class="fa fa-eye fa-lg mt-4"></i>
                  </a>
               </td>       
               <td>
                  <button type="button" class="btn btn-block btn-info" routerLink="/servicos/cadastro/">Solicitar</button>
                </td>
             </tr>
         </tbody>
       </table>
       <ul class="pagination">
         <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
         <li class="page-item active">
           <a class="page-link" href="#">1</a>
         </li>
         <li class="page-item"><a class="page-link" href="#">2</a></li>
         <li class="page-item"><a class="page-link" href="#">3</a></li>
         <li class="page-item"><a class="page-link" href="#">4</a></li>
         <li class="page-item"><a class="page-link" href="#">Próximo</a></li>
       </ul>
     </div>
   </div>
</div>
