<div class="animated fadeIn">
     <div class="col-sm-12 col-md-12">
       <div class="card card-accent-primary">
         <div class="card-header">
           Bolo de aniversário
           <div class="card-header-actions">
             <span class="badge badge-pill badge-danger"> R$ 45,00</span>
           </div>
         </div>
         <div class="card-body">
          Bolo de chocolate ou leite ninho recheado
          
          <hr>
          <div align="center">            
            <img width="60%" height="50%" src="assets/img/services/bolo.jpg" class="img" > 
          </div>
          
          <div align="center">            
              <img width="60%" height="50%" src="assets/img/services/bolo2.jpg" class="img" > 
            </div>
            
          <hr>
          <div class="row">
              <div class="col-2">
                  <img align="center" class="rounded-circle" width="70%" height="80%" src="assets/img/avatars/2.jpg"  > 
              </div>
              <div class="col-10">
                  Sobre o fornecedor:
                 Fazendo bolo nessa quarentena
              </div>
            </div>
         </div>
       </div>
     </div>
</div>
