// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

.bg-fundo-logo {
    background-color: #f7f7f7;
}
.bg-laranja-logo {
    background-color: #ff914c;
}
.bg-azul-logo {
    background-color: #004aaf;
}
agm-map {
    height: 400px;
    width: 99%;
   }